html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for background colors */
.index {
  background-color: #d7c7ff;
}

.blog {
  background-color: #fff8c7;
}

.portfolio {
  background-color: #c7f1ff;
}

.resume {
  background-color: #ffc7c7;
}

.contact {
  background-color: #c7ffca;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: black;
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: no.navbarne;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* CSS for contact form */

form {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

form label {
  font-weight: bold;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid #363636;
}

input[type="text"],
input[type="email"] {
  height: 8%;
}

textarea {
  height: 100%;
  resize: none;
}

input[type="submit"] {
  border: 2px solid #363636;
  border-radius: 12px;
  font-size: 16px;
  padding: 20px;
  background-color: transparent;
}

input[type="submit"]:hover {
  background-color: #8f8f8f;
}

/* CSS for headers */
h1,
h2 {
  text-align: center;
}

/* CSS for resume page*/

#resume-sections {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 1000px;
  border: 2px solid #363636;
  border-radius: 12px;
  background-color: white;
}

#resume-sections .section h2,
#resume-sections .section h3,
#resume-sections .section p {
  margin-left: 20px;
}

#download {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid #363636;
  border-radius: 12px;
  width: 160px;
  margin: 0 auto;
  background-color: white;
}

#download:hover {
  background-color: #8f8f8f;
}

/* CSS for home page */

.page-title {
  font-size: 48px;
}

#my-image {
  display: flex;
  margin: 0 auto;
  width: 800px;
  height: auto;
}

.about-text {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

/* CSS for portfolio */

#website-image {
  width: 500px;
  height: auto;
  border: 2px solid black;
  border-radius: 12px;
}

.project {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 30px;
  background-color: white;
}

.project-details {
  flex: 1;
}

.project-name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.project-description {
  text-align: center;
}

.learn-more {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid #363636;
  border-radius: 12px;
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
}

.learn-more:hover {
  background-color: #8f8f8f;
}
